body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.container {
    height: 60vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    border: 2px solid #000;
    border-radius: 0.5rem;
    background-color: #e8e8e8;
}

.text {
    display: none;
}

button {
    font-size: 1rem;
    border-radius: 0.25rem;
    padding: 0.5rem;
}

button:hover {
    background-color: #cac7c7;
}