*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    color: #fff;
}

nav div img {
    display: none;
}

nav ul {
    display: flex;
    margin: 10px;
    gap: 40px;
    justify-content: end;
    margin-right: 40px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    text-decoration: underline;
    font-weight: 700;
}

.section1 {
    display: flex;
}

.line1 img {
    height: 25px;
    width: 25px;
}

.line1 {
    display: flex;
    margin-right: 90px;
    gap: 5px;
    align-items: end;
}

.line2 h1 {
    font-size: 35px;
}

.line2 h2 {
    color: #d6bf38;
}

.right-section img {
    height: 50vh;
    width: 25vw;
}

.left-section {
    text-align: left;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}

.projects div h1 {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    text-decoration: #0000ff underline 4px;
}

.project img {
    height: 40vh;
    width: 20vw;
}

.project-list {
    display: grid;
    grid-template-columns:  repeat(2, 21vw);
    text-align: center;
    margin-left: 28%;
    margin-top: 20px;
}

footer {
    margin-top: 30px;
}

footer div h1 {
    display: flex;
    justify-content: center;
    text-decoration: underline #0000ff 4px;
}

footer div img {
    width: 30px;
}

.image {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

@media screen and (max-width:568px){
    nav div img {
        display: block;
        width: 20px;
        height: 20px;
        margin: 10px;
    }

    .list {
        display: none;
    }

    .section1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}